<div id='jumbo' class="jumbotron">
    <h1 class="jumboHeader">Scraper App</h1>

    <button>
        <a class="btn btn-lg btn-success" href="/scrape" role="button">Get the News!</a>
    </button>
</div>

{{#each result}}
<div class="card">
    
    <a href="{{this.url}}">
        <h4 class="card-header">{{this.title}}</h4>
    </a>

    <div class="card-block">
        <a href="{{this.url}}">
            <p class="card-text">{{this.article}}</p>
        </a>
        <br>
        <a href="/newsfeed/{{this._id}}" class="btn btn-primary">Add a Note</a>
    </div>

</div>
{{/each}}



<footer class="footer">
    <p>&copy; Laura Salcido 2018</p>
</footer>

<!-- /container -->