<div id='news_block'>
    <ul id='navbar' class="nav">
        <li class="nav-item">
            <a id='btns' class="nav-link active" href="/newsarticles">Newsfeed</a>
        </li>
        <li class="nav-item">
            <a id='btns' class="nav-link" href="/savedArticles">Saved Articles</a>
        </li>
    </ul>

    <div class="container">
        <div class="row">
            <div class="col-md">
                <div id='jumbo' class="jumbotron">
                    <h1>Scraped News Articles from CNET</h1>
                </div>
            </div>
        </div>

        {{#each article}}
        <div id="news_each">
            <h3 id='title'>{{ title }}</h3>
            <p id='body'>{{body}}</p>
            <p id='author'>Written {{author}}</p>

            <button id='linkBtn' class="btn btn-dark">
                <a id='btns' href={{url}} target='_blank'> GO TO ARTICLE </a>
            </button>

            <form id='saveForm' action="/saved/{{this._id}}" method='post'>
            <input ID='saveBtn' class='btn btn-dark' type="submit" value='SAVE ARTICLE'>
            </form>

            <form id='inputform' action='/note/{{this._id}}' method='post'>
                Comment:
                <input id='txtinput' type="text" name='noteText'/>
                <input id='sbtinput' type='submit' value='submit'/>
            </form>
            <div class="myComments">
                {{this.note}}
            </div>
        </div>
        {{/each}}
    </div>

    <br>
    <footer> &copy; Laura Salcido 2018</footer>
</div>